.header {
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.return {
    border: solid black 1px;
    padding: .25em 1em;
}

@media (min-width: 1280px) {
    .main {
        flex-direction: row;
    }

    .main div {
        max-width: 25%;
    }
}