.main {
    display: flex;
    flex-direction: column;
    padding: 3%;
}



@media (min-width: 1280px) {
    .main {
        flex-direction: row;
    }

    .main div {
        max-width: 25%;
    }
}