.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 3px;
    min-width: 100%;
    padding-bottom: 20px;
    margin-top: 10px;
}



.form fieldset {
    width: 90%;
}

.submit {
    font-size: 18px;
    margin-top: 1em;
    background-color: #26547C;
    color: #fff;
    border: solid black 2px;
    border-radius: 3px;
    padding: .3em 1em;
    box-shadow: 0 1px 10px 3px rgba(0,0,0,.1);
}