.header {
    text-align: center;
    min-width: 100%;
}

.main {
    min-width: 100%;
}

.customer {
    border: solid #26547C 1px;
    padding: .25em 1em;
    color: #26547C;
}

@media (min-width: 1200px) {
    .main {
        padding: 0 3%;
    }

    .edit {
        padding: 0 0 3%;
    }

    .productSection {
        padding: 0 3%;
    }
}