body {
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  margin: 5px 0;
  width: 100%;
}

input[type='text'],
input[type='password'] {
  border: none;
  background-color: #acacac;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  padding: .3em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  padding: .4em 0;
  width: 100%;
}

nav a {
  text-decoration: none;
}

header {
  padding: 3%;
}

section {
  min-height: 200px;
  padding:  3%;
  background-color: #bbb;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-width: 100%;
}

section:nth-child(even) {
  background-color: #ddd;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}