fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  margin: 5px 0;
  width: 100%;
}

input[type='text'],
input[type='password'] {
  border: none;
  background-color: #acacac;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  padding: .3em;
}
