.logo {
    margin-left: 5%;
    text-transform: uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.links {
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.links > :first-child {
    margin-right: 1em;
}