.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    min-width: 100%;
}

.buttons button {
    margin: 0 0 20px;
    min-width: 48%;
    font-size: 16px;
    background-color: #26547C;
    color: #fff;
    border: solid black 2px;
    border-radius: 3px;
    padding: .3em .5em;
    box-shadow: 0 1px 10px 3px rgba(0,0,0,.1);
}

.section {
    min-width: 15%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.filter {
    color: red;
}

/* @media (min-width: 1280px) {

} */