.product {
    border: solid black 3px;
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin-top: 10px;
    width: 100%;
}

.content {
    max-width: 100% !important;
}

.featured,
.notFeatured {
    display: block;
    width: 100%;
    padding: .3em .5em;
}

.featured {
    background-color: #06D6A0;
}

.notFeatured {
    background-color: gray;
    opacity: .5;
}

.edit {
    width: 100%;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .product {
        min-height: 500px;
    }
}

@media (min-width: 1280px) {
    .content h2 {
        min-height: 120px;
    }

    .product {
        min-height: 700px;
        margin-top: 0;
    }
}