.product {
    border: solid black 3px;
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_content {
    max-width: 100% !important;
}

.notFeatured {
    text-decoration: line-through;
    opacity: .3;
}