.product {
    border: solid black 3px;
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.content {
    max-width: 100% !important;
}

.content h2 {
    min-height: 120px;
}

.notFeatured {
    text-decoration: line-through;
    opacity: .3;
}